#main {
    margin: 3% auto;
    width: 80%;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
}

/** search form **/
#search-form {
    max-width: 900px;
    margin: 0px auto;
}

#search-form input {
    width: 100%;
    padding: 5px 10px;
}

/** tasks **/
#tasks {
    margin-top: 3rem;
}

#tasks table {
    width: 100%;
    border-collapse: collapse;
}

#tasks table td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
}

#tasks table thead td {
    font-weight: bold;
}

#tasks table tbody tr {
    cursor: pointer;
}

#tasks table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#tasks .loading {
    padding-top: 1%;
    text-align: center;
}